body{
    background-image: linear-gradient(to bottom, rgb(49, 49, 49), rgb(33, 33, 33));
    color: aliceblue;
    background-attachment: fixed;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}
ol{
    font-size: 25px;
    
}
ul li{
    font-size: 15px;
    border: 3px solid rgb(98, 98, 98);
    border-radius: 200px;
    width: 150px;
    padding: 3px;
    text-align: center;
}

.limpeza:hover{
    margin: 1rem;
}
.carne:hover{
    margin: 1rem;
}
.padaria:hover{
    margin: 1rem;
}
.higiene:hover{
    margin: 1rem;
    animation-duration: 10s;
}
h1{
    font-size: 45px;
    background-color: brown;
    border: 5px solid rgb(124, 123, 123);
    height: 50px;
    border-radius: 150px;
}
.sub_cor:hover{
    background-color: brown;
}
.titulo{
    font-size: 25px;
    background-color: brown;
    border: 2px solid rgb(124, 123, 123);
    border-radius: 150px;
    width: 100px;
    text-align: center;
}